# Use the latest 2.1 version of CircleCI pipeline process engine. 
# See: https://circleci.com/docs/2.0/configuration-reference
version: '2.1'
jobs:
  build:
    docker:
      - image: cimg/python:3.9.5-node
    steps:
      - checkout
      - run: python --version
      - run: node --version
  docker:
    docker:
      - image: cimg/base:2021.05
    steps:
      - checkout
      - setup_remote_docker
      # Whatever you want to do
      # - run: sudo apt-get update && sudo apt-get install -y cowsay
      # - run: cowsay Continuous Integration Rocks!
      - run: docker run hello-world
  test:
    docker:
      - image: cimg/node:16.3.0
    steps:
      - checkout
      - run: npm install
      - run: npx cdk synth > template.yaml;
workflows:
  test_my_app:
    jobs:
      - build
      - docker
      - test