# Use the latest 2.1 version of CircleCI pipeline process engine. 
# See: https://circleci.com/docs/2.0/configuration-reference
version: '2.1'
jobs:
  build:
    machine:
      image: ubuntu-1604:202007-01
    steps:
      - checkout
      - run: python --version
      - run: node --version
      # Note: the token for the codecov push is obtained as an environment variable set in the CircleCi UI
      - run: >
          pushd octoductor;
          pip3 install ".[test]";
          cd tests/;
          py.test --cov=. --cov-report term-missing --cov-branch --cov-report=xml -rP;
          bash <(curl -s https://codecov.io/bash);
          popd;
      - run: npm install --legacy-peer-deps
      - run: >
          pushd octoductor/ui;
          npm install;
          CI=false npx react-scripts build;
          popd;
      - run: npx cdk synth > template.yaml
  release:
    docker:
      - image: cimg/python:3.7.9-node
    environment:
      # https://circleci.com/docs/2.0/env-vars/#built-in-environment-variables
      VERSION: CIRCLE_TAG
    steps:
      - checkout
      - run: echo $VERSION
      - run: npm install
      - run: npm run build
      - run: npm version --no-git-tag-version --allow-same-version $(VERSION)
      - run: npm pack
      - run: pip install --upgrade twine setuptools wheel
      - run: cd octoductor; \
      - run: python setup.py sdist bdist_wheel
workflows:
  version: 2
  build-n-release:
    # The build job runs for all branches and all tags.
    # The release job runs for no branches and only for tags starting with ‘v’.
    # (see https://circleci.com/docs/2.0/workflows/#executing-workflows-for-a-git-tag)
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - release:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
